.todBlog .container {
  max-width: 1224px;
  width: 100%;
  margin: 0 auto;
}
@media (max-width: 768px) {
  .todBlog .container {
    max-width: 100%;
    width: 100%;
    padding: 0 16px;
  }
}
.todBlog .hero-content .container {
  max-width: 1224px;
  width: 100%;
  margin: 0 auto;
}
.todBlog-content {
  width: 100%;
}
.todBlog-content-wrapper {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 24px;
}
@media (max-width: 768px) {
  .todBlog-content-wrapper {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 16px;
  }
}
.todBlogItem {
  width: 100%;
  padding: 24px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  row-gap: 24px;
  border-radius: 12px;
  position: relative;
  background: rgba(0, 0, 0, 0.16);
  overflow: hidden;
  backdrop-filter: blur(196px);
}
@media (max-width: 768px) {
  .todBlogItem {
    padding: 16px;
    row-gap: 16px;
  }
  .todBlogItem-thumbnail {
    height: 247px;
  }
}
.todBlogItem-permalink {
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 100%;
  height: 100%;
}
.todBlogItem::before {
  content: "";
  background-image: var(--bg);
  width: 642px;
  height: 481px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  opacity: 0.32;
  backdrop-filter: blur(196px);
  backdrop-filter: blur(196px);
  background-repeat: no-repeat;
  background-size: contain;
  -webkit-filter: blur(48px);
          filter: blur(48px);
  z-index: -1;
}
.todBlogItem-thumbnail {
  width: 100%;
  height: 258px;
  position: relative;
}
.todBlogItem-thumbnail img {
  width: 100%;
  height: 100%;
  border-radius: 8px;
}
.todBlogItem-thumbnail .badge {
  position: absolute;
  right: 8px;
  bottom: 8px;
  background: rgba(0, 0, 0, 0.16);
  backdrop-filter: blur(8px);
  text-align: center;
  padding: 4px 6px;
  border-radius: 4px;
}
.todBlogItem-thumbnail .badge span {
  font-weight: 350;
  font-style: Medium;
  font-size: 12px;
  line-height: 100%;
  text-transform: uppercase;
  color: rgb(255, 188, 0);
}
.todBlogItem-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  row-gap: 16px;
}
@media (max-width: 768px) {
  .todBlogItem-content {
    row-gap: 8px;
  }
}
.todBlogItem-content h3 {
  font-weight: 600;
  font-style: Bold;
  font-size: 24px;
  line-height: 100%;
  letter-spacing: 0%;
  text-transform: uppercase;
  color: #fff;
}
@media (max-width: 768px) {
  .todBlogItem-content h3 {
    font-size: 16px;
  }
}
.todBlogItem-content p {
  font-weight: 325;
  font-size: 14px;
  leading-trim: NONE;
  line-height: 100%;
  letter-spacing: 0%;
  color: rgb(255, 255, 255);
}
@media (max-width: 768px) {
  .todBlogItem-content p {
    font-size: 14px;
  }
}

.todSingleBlog {
  width: 100%;
  display: block;
  position: relative;
}
.todSingleBlog::after {
  content: "";
  display: block;
  position: absolute;
  width: 177px;
  height: 177px;
  top: 591px;
  left: 48px;
  background: rgb(255, 188, 0);
  -webkit-filter: blur(300px);
          filter: blur(300px);
  backdrop-filter: blur(300px);
  border-radius: 50%;
}
.todSingleBlog .container {
  width: 100%;
  max-width: 1224px;
  margin: 0 auto;
}
.todSingleBlog-content {
  position: relative;
}
.todPost {
  width: 100%;
  display: block;
  position: relative;
  overflow: hidden;
}
.todPost-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-column-gap: 24px;
     -moz-column-gap: 24px;
          column-gap: 24px;
  padding: 106px 0;
}
.todPost-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  row-gap: 40px;
}
.todPost-content-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  row-gap: 8px;
}
.todPost-content-header h1 {
  font-weight: 400;
  font-style: Bold;
  font-size: 32px;
  line-height: 100%;
  letter-spacing: 0%;
  text-transform: uppercase;
  color: rgb(255, 188, 0);
}
.todPost-content-header p {
  font-weight: 325;
  font-size: 16px;
  line-height: 100%;
  letter-spacing: 0%;
  color: rgb(255, 255, 255);
}
.todPost-content-header .badge {
  background: rgba(0, 0, 0, 0.16);
  backdrop-filter: blur(8px);
  text-align: center;
  padding: 4px 6px;
  border-radius: 4px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}
.todPost-content-header .badge span {
  font-weight: 350;
  font-style: Medium;
  font-size: 12px;
  line-height: 100%;
  text-transform: uppercase;
  color: rgb(255, 188, 0);
}
.todPost-content-box p {
  font-weight: 325;
  font-size: 16px;
  line-height: 100%;
  letter-spacing: 0%;
  text-align: justify;
  color: #fff;
}
.todPost-content-box p:not(:first-child) {
  margin-top: 24px;
}
.todPost-thumbnail {
  min-width: 392px;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  width: auto;
}
.todPost-thumbnail img {
  width: 100%;
  height: 294px;
  border-radius: 8px;
}
.todPost::before {
  content: "";
  width: 1524px;
  height: 680px;
  background-image: var(--bg);
  background-repeat: no-repeat;
  background-size: cover;
  left: 50%;
  top: 50%;
  position: absolute;
  opacity: 0.32;
  background-color: rgba(0, 0, 0, 0.32);
  backdrop-filter: blur(196px);
  -webkit-filter: blur(48px);
          filter: blur(48px);
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  z-index: -1;
}
.todPost::after {
  content: "";
  display: block;
  position: absolute;
  width: 177px;
  height: 177px;
  top: 40px;
  right: -64px;
  background: rgb(255, 188, 0);
  -webkit-filter: blur(300px);
          filter: blur(300px);
  backdrop-filter: blur(300px);
}

.todRelated {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  row-gap: 32px;
  padding: 40px 0;
}
.todRelated-arrow {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 24px;
     -moz-column-gap: 24px;
          column-gap: 24px;
}
.todRelated-arrow-next, .todRelated-arrow-prev {
  cursor: pointer;
  padding: 8px;
  border-top: 1.5px solid rgb(255, 188, 0);
  border-bottom: 1.5px solid rgb(255, 188, 0);
}
.todRelated-arrow-next svg, .todRelated-arrow-prev svg {
  width: 24px;
  height: 24px;
}
.todRelated-header {
  width: 100%;
}
.todRelated-header-wrapper {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.todRelated-header span {
  font-weight: 400;
  font-style: Medium;
  font-size: 24px;
  line-height: 100%;
  letter-spacing: 8%;
  text-transform: uppercase;
  color: rgb(255, 188, 0);
}